domain: "localhost"

domains:
  # maybe not needed in the future - could be defined on the services
  # domains to get a letsencrypt cert for
  - "{{ domain }}"
  - "www.{{ domain }}"
  - "read.{{ domain }}"
  - "blog.{{ domain }}"
  - "blxg.{{ domain }}"
  - "dav.{{ domain }}"
  - "wiki.{{ domain }}"
  - "s.{{ domain }}"
  - "xmpp.{{ domain }}"
  - "conference.{{ domain }}"
  - "pubsub.{{ domain }}"
  - "imap.{{ domain }}"

letsencrypt_key_path: ""  # *.crt
letsencrypt_cert_path: ""  # *.key

services:
  ttrss:
    # data is stored in an attached pgsql
    # right now no real backup solution (if you dont want to store the data container)
    web_port: 8090
    domain: "read.{{ domain }}"

  dokuwiki:
    web_port: 8080
    domain: "wiki.{{ domain }}"
    paths:
      data: ""
      conf: ""
      plugins: ""

  prosody:
    web_port: 8070
    recaptcha_private_key: ""
    recaptcha_public_key: ""
    admin_user: ""
    admin_domain: ""
    admin_password: ""
    paths:
      conf: ""
      lib: ""
      log: ""
      modules: ""

